.btn__primary { 
    background: var(--primary-blue);
     color: var(--white);
      border: none; 
      padding: 10px 32px; 
      border-radius: 4px;
       font-weight: 700;
        font-size: 16px;
         cursor: pointer;
         }